#header{
    position: fixed;
    top: 0%;
    bottom; 80%;
    left: 0%;
    right: 0%;
    border-style: solid;
}

#header ul{
    display: inline;
}

#main{
    position: fixed;
    top: 20%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    border-style: solid;

}

