<!doctype html>

<title>Acqua</title>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/acqdimension.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/datafish.css') }}" />

<div class="navbar">
    <div class="nav-up">
        <div class="title">
            Acqua
        </div>
        <div class="user">
            {% if current_user.is_authenticated %}
            User {{ current_user.username }}
            {% endif %}
        </div>
    </div>

    <ul>
        <div class="sinistra">
            <li><a href="{{ url_for('admin.index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.acqdimension') }}">Acquarium Dimensions</a></li>
            <li><a href="{{ url_for('admin.datafish') }}">Fish Database</a></li>
            <li><a href="{{ url_for('admin.acqdimension') }}">Plant Database</a></li>
            <li><a href="{{ url_for('admin.acqdimension') }}">Water Values</a></li>
            <li><a href="{{ url_for('admin.download') }}">download</a></li>
            <li><a href="{{ url_for('admin.dropbox') }}">dropbox</a></li>
            <li><a href="{{ url_for('admin.dropboxlogout') }}">dropbox logout</a></li>
        </div>
        <div class="destra">
            <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
        </div>
        {% else %}
        <li><a href="{{ url_for('admin.login') }}">Sign In</a></li>
        <li><a href="{{ url_for('admin.register') }}">Register</a></li>
        {% endif %}
    </ul>

</div>

{% block body %}{% endblock %}


