{% block title %}{% endblock %}

{% block navbar %}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
                <h1>Acqua</h1>
                <li><a href="{{ url_for('admin.index') }}">Home</a></li>
                <li><a href="{{ url_for('admin.protected') }}">Member</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('admin.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('admin.login') }}">Sign In</a></li>
                <li><a href="{{ url_for('admin.register') }}">Register</a></li>
                {% endif %}

{% endblock %}

{% block content %}

{% block page_content %}{% endblock %}

{% endblock %}
